<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Edit page</title>
</head>
<body class="bg-success p-2 text-dark bg-opacity-10">
<header th:replace="fragments/header :: header"></header>
<main>
    <div class="container text-center border border-secondary shadow-lg p-3 mb-5 bg-body rounded">

        <form class="table" method="post" th:action="@{/eRegistrar/student/update}" th:object="${student}">
            <h1>Edit Student Information</h1>
            <div class="row g-3 align-items-center">
                <h1></h1>
                <div class="input-group">
                    <label class="form-label">Student Number : </label>
                    <input type="text" class="form-control" th:value="${student.studentNumber}" aria-describedby="passwordHelpInline">
                </div>
                <div class="input-group">
                    <label class="form-label">First Name : </label>
                    <input type="text" class="form-control" th:value="${student.firstName}"
                           aria-describedby="passwordHelpInline">
                </div>
                <div class="input-group">
                    <label class="col-form-label">Middle Name : </label>
                    <input type="text" class="form-control" th:value="${student.middleName}"
                           aria-describedby="passwordHelpInline">
                </div>
                <div class="input-group">
                    <label class="col-form-label">Last Name : </label>
                    <input type="text" class="form-control" th:value="${student.lastName}"
                           aria-describedby="passwordHelpInline">
                </div>
                <div class="input-group">
                    <label class="col-form-label">GPA : </label>
                    <input type="number" class="form-control" th:value="${student.cgpa}"
                           aria-describedby="passwordHelpInline">
                </div>
                <div class="input-group">
                    <label class="col-form-label">Enrollment Date : </label>
                    <input type="date" class="form-control" th:value="${student.enrollmentDate}"
                           aria-describedby="passwordHelpInline">
                </div>
                <div class="input-group">
                    <label class="col-form-label">Is International : </label>
                    <input type="text" class="form-control" th:value="${student.isInternational}"
                           aria-describedby="passwordHelpInline">
                </div>
            </div>
            <h1></h1>
            <div>
                <a type="cancel" class="btn btn-danger" href="/eRegistrar/student/list">Cancel</a>
                <input class="btn btn-info" type="reset" value="Reset"/>
                <input class="btn btn-success" type="submit" value="Update Student" href="/eRegistrar/student/list"/>
            </div>
        </form>
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>